<div class="window__body" #selectableContainer>
  <div class="window__side">
    <ul class="side__list">
      <li><a><i class="fa fa-home"></i> Home</a></li>
      <li class="side__list--open">
        <a>
          <i class="fa fa-star"></i> Favorites
          <span class="list__toggle" (click)="toggleList($event)"></span>
        </a>
        <ul style="display:block">
          <li (click)="setNewPath('/root/Desktop/')"><a><i class="fa fa-desktop"></i> Desktop</a></li>
          <li (click)="setNewPath('/root/Downloads/')"><a><i class="fa fa-cloud-download"></i> Downloads</a></li>
        </ul>
      </li>
      <li class="side__list--open">
        <a>
          <i class="fa fa-server"></i> This Device
          <span class="list__toggle" (click)="toggleList($event)"></span>
        </a>
        <ul style="display:block">
          <li (click)="setNewPath('/root/Desktop/')"><a><i class="fa fa-desktop"></i> Desktop</a></li>
          <li (click)="setNewPath('/root/Documents/')"><a><i class="fa fa-files-o"></i> Documents</a></li>
          <li (click)="setNewPath('/root/Downloads/')"><a><i class="fa fa-cloud-download"></i> Downloads</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="window__main no_padding">
    <div class="col-xs-12 ftp__body" >

      <app-file-explorer-body-actions [application]="application"></app-file-explorer-body-actions>

      <div id="local_body" (mouseover)="setCurrentFileDrop('desktop'); $event.stopPropagation()" data-drop="true" jqyoui-droppable="{onDrop: 'feB.onDropItem'}" data-jqyoui-options="{greedy: true, accept:'a', tolerance: 'pointer'}" class="folders" (click)="handleBodyClick($event)" (keydown)="handleItemKeyPress($event)" (contextmenu)="onBodyContextMenu($event)">
        <div ng-include="'templates/applications/folders-dropzone-fe-local.html'"></div>

        <ng-container *ngIf="viewAsList === false">
          <ng-container *ngFor="let file of pathFiles.currentData | filterBy: search; index as $index" >
            <app-file [viewAsList]="viewAsList" [selectable]=selectable [file]=file [isCurrentActive]="$index === currentActive" [currentPath]="pathFiles.currentPath" (click)="setCurrentActive($index)"></app-file>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="viewAsList === true">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let file of pathFiles.currentData | filterBy: search; index as $index" >
                <app-file [viewAsList]="viewAsList" [selectable]=selectable [file]=file [isCurrentActive]="$index === currentActive" [currentPath]="pathFiles.currentPath" (click)="setCurrentActive($index)"></app-file>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

        <div style="position: fixed"
             [style.left]="contextMenuPosition.x"
             [style.top]="contextMenuPosition.y"
             [matMenuTriggerFor]="contextMenuBody">
        </div>

        <mat-menu #contextMenuBody="matMenu">
          <ng-template matMenuContent>
            <ng-container *ngFor="let item of bodyContextMenuItems">
              <button mat-menu-item *ngIf="item.text !== 'divider'" (click)="item.action()" [disabled]="checkIfDisabled(item)" [innerHTML]="contextToText(item)"></button>
              <mat-divider *ngIf="item.text === 'divider'"></mat-divider>
            </ng-container>
          </ng-template>
        </mat-menu>

      </div>
    </div>
  </div>
</div>
