<div class="desktop" cdkDropListGroup>
  <div class="col-xl-12 desktop__body">
    <div id="desktop_body" class="folders" tabindex="0"
         #selectableContainer
         cdkDropList
         (cdkDropListDropped)="UIonDropItem($event)"
         [cdkDropListData]="'/root/Desktop'"
         (mouseover)="setCurrentHoverApplication();"
         (click)="handleDesktopClick($event)"
         (keydown)="handleItemKeyPress($event)"
         (contextmenu)="onDesktopContextMenu($event)"
    >

      <slf-sysos-libs-file *ngFor="let file of desktopFiles.currentData; index as $index" cdkDrag cdkDragBoundary=".desktop" [cdkDragData]="file" (cdkDragStarted)="onDragStart()" [application]="{id: 'file-explorer'}" [selectable]=Selectable [file]=file [isCurrentActive]="$index === currentActive" [currentPath]="desktopFiles.currentPath" [selector]="'.desktop .desktop__body'" (click)="setCurrentActive($index)"></slf-sysos-libs-file>

      <div style="position: fixed"
           [style.left]="contextMenuPosition.x"
           [style.top]="contextMenuPosition.y"
           [matMenuTriggerFor]="contextMenuDesktop">
      </div>
    </div>

    <mat-menu #contextMenuDesktop="matMenu">
      <ng-template matMenuContent>
        <ng-container *ngFor="let item of desktopContextMenuItems">
          <button mat-menu-item *ngIf="item.text !== 'divider'" (click)="item.action()" [disabled]="checkIfDisabled(item)" [innerHTML]="contextToText(item)"></button>
          <mat-divider *ngIf="item.text === 'divider'"></mat-divider>
        </ng-container>
      </ng-template>
    </mat-menu>

    <app-task-bar></app-task-bar>

    <ng-container *ngFor="let application of openedApplications">
      <slapp-sysos-libs-application *ngIf="application.id !== 'start'" [application]="application"></slapp-sysos-libs-application>
    </ng-container>
  </div>
</div>
