<div class="desktop" cdkDropListGroup>
  <div class="col-xl-12 desktop__body">

    <div id="desktop_body" (mouseover)="setCurrentHoverApplication();">
      <slfolder-anyopsos-lib-folder
        [application]="{id: null}"
        [currentPath]=currentPath
        [currentData]=currentData
        [currentActive]=currentActive
        [selector]="'.desktop .desktop__body'"></slfolder-anyopsos-lib-folder>
    </div>

    <app-task-bar></app-task-bar>

    <ng-container *ngFor="let application of openedApplications">
      <slapp-anyopsos-lib-application *ngIf="application.id !== 'start'" [application]="application"></slapp-anyopsos-lib-application>
    </ng-container>
  </div>
</div>
