.desktop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://wallpaperaccess.com/full/84303.jpg);

  .desktop__body, .desktop__body #desktop_body {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
