/*--------------------------------------*\
	Main
\*--------------------------------------*/

.media {
  display: flex;
}
.media__img,
.media__body{
  flex: 0 1 auto;
}
.media__body {
  padding-left: 10px;
}


.desktop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0,0,0);
}

.desktop,
.window__titlebar:after {
  background-image: url(https://i.imgur.com/K7ZTvoQ.png);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.window {
  //overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0;
  //background-color: white;
  box-shadow: 0 2px 4px rgba(black, 0.5), 0 1px 1px rgba(black, 0.1);
  filter: contrast(0.7)
          grayscale(0.5)
          brightness(1.3);
  transform: scale(0.995);
  transition: all 250ms,
              z-index 1ms;
  z-index: 0;
  &.ui-draggable-dragging,
  &.ui-resizable-resizing {
    transition: none;
  }
}
.window--maximized {

}
.window--minimized {
  //top: 50% !important;
  //left: -50% !important;
  top: 100% !important;
  left: 0 !important;
  transform:
             scale(0) translate(-100%, 0) !important;
  opacity: 0;
}
.window--active {
  filter: none;
  transform: none;
  box-shadow: 0 10px 30px rgba(black, 0.25), 0 0 1px rgba(black, 0.1);
  z-index: 1000;
}
.window--closing {
  transform: scale(0.9);
  opacity: 0;
}
.window--opening {
  transform: scale(1.25);
  opacity: 0;
}
.window--explorer {
  .window__body {
    padding-top: 32px * 2;
  }
}

.window__titlebar {
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  cursor: default;
  //background-color: lighten($theme-color, 15%);
  background-color: rgba(lighten($theme-color, 25%), 1);
  //border-bottom: 1px solid #B0BEC5;
  &:after {
    //content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    //filter: blur(5px);
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.window__title {
  position: relative;
  line-height: 32px;
  z-index: 10;
  color: rgba(black, 0.75);
  //text-shadow: 0 0 7px white;
}

.window__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  > a {
    display: block;
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 12px;
    transition: all 100ms;
    cursor: default;
    color: rgba(black, 0.5);
    &:hover {
      background-color: rgba(white, 0.25);
    }
  }
  > .window__close {
      color: white;
      background-color: desaturate(lighten($theme-color, 8%), 10%);
    &:hover {
      background-color: #e53935;
    }
  }
}
.window__controls--left {
  left: 0;
}
.window__controls--right {
  right: 0;
}

.window__maximize {
  position: relative;
  > i {
    box-sizing: content-box;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    border: 2px solid rgba(black, 0.6);
    .window--maximized & {
      margin-bottom: -1px;
      margin-left: -4px;
      width: 5px;
      height: 5px;
      transition: all 100ms 350ms;
      &:after {
        box-sizing: content-box;
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 6px;
        height: 6px;
        border: inherit;
        border-radius: inherit;
        border-left: 0;
        border-bottom: 0;
        transition: all 100ms 350ms;
      }
    }
  }
}

.window__icon,
.window__icon:hover,
.window__menu {
  color: white !important;
  .window--explorer & {
    background-color: $explorer-color;
  }
  .window--mail & {
    background-color: $mail-color;
  }
  .window--notepad & {
    background-color: $notepad-color;
  }
}

.window__menutoggle {

}
.window__menutoggle--open,
.window__menutoggle--open:hover {
  color: white !important;
  background-color: #5C6BC0;
  .window--explorer & {
    background-color: $explorer-color;
  }
  .window--mail & {
    background-color: $mail-color;
  }
  .window--notepad & {
    background-color: $notepad-color;
  }
}


.window__menu {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 31px;
  width: 25%;
  min-width: 200px;
  min-height: calc(100% - 31px);
  margin: 0;
  padding: 10px 0;
  //font-size: 20px;
  color: white;
  background-color: #5C6BC0;
  .window--explorer & {
    background-color: $explorer-color;
  }
  > li {
    list-style: none;
    transform: translate(-50%, 0);
    transition: transform 500ms 100ms;
    > a {
      opacity: 0;
      position: relative;
      display: block;
      padding: 10px;
      padding-left: 45px;
      color: white;
      font-weight: 200;
      text-decoration: none;
      transition: all 100ms,
                  opacity 750ms 150ms;
      &:hover {
        background-color: rgba(white, 0.1);
      }
    }
    &.divided > a {
      border-top: 1px solid rgba(black, 0.1);
    }
  }
}
.window__menu--open {
  opacity: 1;
  z-index: 1;
  li {
    transform: none;
    > a {
      opacity: 1;
    }
  }
}
.menu__icon.menu__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px
}


.window__body {
  display: flex;
  //flex-flow: row wrap;
  //overflow: auto;
  padding-top: 32px;
  height: 100%;
  font-size: 14px;
}
.window__side,
.window__main {
  flex: 0 1 auto;
  //height: 100%;
  overflow: auto;
}
.window__side {
  //flex: 1 1 auto;
  overflow: auto;
  width: 25%;
  min-width: 200px;
  padding: 10px;
  background-color: #ECEFF1;
}
.window__main {
  //flex: 1 1 auto;
  padding: 10px;
  width: 100%;
  background-color: white;
}
.window__actions {
  //flex: 0 0 100%;
  //display: none;
  position: absolute;
  top: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0;
  border-bottom: 1px solid rgba(black, 0.1);
  background-color: lighten(#ECEFF1, 5%);
  .search {
    position: relative;
    height: 32px;
    width: 33%;
    max-width: 248px;
    min-width: 170px;
    margin-left: auto;
    border-left: 1px solid rgba(black, 0.1);
    background-color: transparent;
  }
  .search__input {
    padding: 0 10px;
    line-height: 32px;
  }
  .search__btn {
    height: 32px;
    width: 32px;
  }
}
.window__back,
.window__forward {
  flex: 0 1 auto;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  color: rgba(black, 0.45);
  &:hover {
    color: $theme-color;
  }
}
.window__path {
  white-space: nowrap;
  padding: 0 5px;
  border-left: 1px solid rgba(black, 0.1);
  > a {
    display: inline-block;
    padding: 0 5px;
    line-height: 32px;
    font-size: 12px;
    cursor: pointer;
    color: #607D8B;
    &:after {
      display: inline-block;
      margin-left: 5px;
      content: '\f0da';
      font-family: 'FontAwesome';
      opacity: 0.5;
    }
  }
}


.side__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
  > li {
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      padding: 3px 5px 3px 32px;
      border: 1px solid transparent;
      color: #546E7A;
      transition: all 100ms;
      &:hover {
        color: #263238;
        border-color: rgba(black, 0.1);
        background-color: rgba(black, 0.05);
      }

    }
  }
  ul {
    padding: 0;
    font-size: 14px;
    li {
      > a {
        padding-left: 42px;
      }
      li {
        > a {
          padding-left: 52px;
        }
      }
    }
  }
}

.list__toggle {
  display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
        width: 32px;
        display: block;
  line-height: 32px;
  text-align: center;
  //background: rgba(red,0.1);
  &:hover {
    color: #1565C0;
    //background-color: rgba(black, 0.05);
  }
    &:before {
        display: block;
        content: '\f105';
        font-family: 'FontAwesome';
        margin-top: 1px;
        transform: none;
        transition: all 250ms;
   }
  .side__list--open > a &:before {
          transform: rotate(90deg);
        }
  li li & {
    width: 42px;
    height: 26px;
    line-height: 26px;
    &:before {
      margin-top: 2px;
    }
  }
}


.taskbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  //background-color: #263238;
  box-shadow: 0 -2px 5px rgba(black, 0.15);
  //background-image: linear-gradient(to top, rgba(black, 0.25), transparent);
  background-color: darken(#263238, 5%);
  z-index: 9998;
}
.taskbar__item {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: white;
  border: 1px solid transparent;
  transition: all 100ms;
  &:hover {
    background-color: rgba(#78909C, 0.15);
  }
  > i {
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
.taskbar__item--active {
  //background-color: rgba(#78909C, 0.25) !important;
  &.taskbar__item--explorer {
    background-color: $explorer-color;
  }
  &.taskbar__item--mail {
    background-color: $mail-color;
  }
  &.taskbar__item--notepad {
    background-color: $notepad-color;
  }
}
.taskbar__item--open {
  //background: red !important;
  box-shadow: inset 0 -2px 0 rgba(white, 0.35);
}
.taskbar__item--explorer > i {
    //background-color: $explorer-color;
  }
.taskbar__item--mail > i {
    //background-color: $mail-color;
  }
.taskbar__item--notepad > i {
    //background-color: $notepad-color;
  }

.taskbar__item--start {
  color: lighten($theme-color, 10%);
  transition: background-color 250ms;
  &.start--open {
    color: white;
  }
}
.taskbar__tray {
  color: white;
  padding: 0 10px;
  float: right;
  line-height: 48px;
  .time {
    cursor: default;
    padding: 5px;
    &:hover {
      background-color: rgba(white,0.1);
    }
  }
}

.start-menu {
  display: flex;
  opacity: 0;
  //overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 48px;
  padding: 10px;
  height: 85vh;
  min-height: 128px * 4;
  z-index: 0;
  color: white;
  background-color: $theme-color;
  transition: opacity .5s;
}
.start-menu--open {
  z-index: 9999;
  opacity: 1;
}
.start--open {
  background-color: $theme-color !important;
}
.start-menu__list,
.start-screen {
  flex: 0 1 auto;
}
.start-menu__list {
  position: relative;
  width: 248px;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
  .start-menu--open & {
    transform: none;
    opacity: 1;
  }
}

.user-info {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  transition: all 100ms,
              transform 500ms;
  &:hover {
    background-color: rgba(white, 0.15);
  }
  .start-menu--open & {
    transform: none;
  }
}
.user-info__img {
  display: block;
  width: 40px;
  height: 40px;
}
.user-info__name {
  font-size: 20px;
  font-weight: 200;
  align-self: center;
}
.user-info__power {
  margin-left: auto;
  //line-height: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: white;
  &:hover {
    background-color: rgba(white, 0.15);
  }
}
.start-menu__label {
  display: block;
  padding: 10px 20px;
  //margin-top: 5px;
  font-size: 20px;
}
.start-menu__recent {
 // position: relative;
  overflow: hidden;
  max-height: 65%;
  padding: 0;
  margin: 0;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms 100ms,
    opacity 1000ms 250ms;
  .start-menu--open & {
    transform: none;
    opacity: 1;
  }
  li {
    list-style: none;
    a {
      display: block;
      padding: 10px;
      color: white;
      transition: all 100ms;
      &:hover {
        background-color: rgba(white, 0.15);
        //box-shadow: inset 0 0 0 1px rgba(white, 0.15);
        > i {
          //box-shadow: none;
        }
      }
     > i {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
       box-shadow: inset 0 0 0 1px rgba(white, 0.15)
        //background-color: $explorer-color;
      }
    }

    &.start-menu__explorer a > i {
    //&.start-menu__explorer a:hover {
      background-color: $explorer-color;
    }
    &.start-menu__mail a > i {
    //&.start-menu__mail a:hover {
      background-color: $mail-color;
    }
    &.start-menu__notepad a > i {
    //&.start-menu__notepad a:hover {
      background-color: $notepad-color;
    }
  }
}

.all-apps {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: block;
  margin-bottom: 10px;
  //float: right;
  color: white;
  transition: all 100ms;
  > i {
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-align: center;
  }
  &:hover {
    > i {
      background-color: #37474F;
    }
  }
}

.search {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: white;
}
.search__input {
  display: block;
  width: 100%;
  padding: 10px;
  height: 32px;
  border: 0;
  font-size: 12px;
  color: #607D8B;
  background-color: transparent;
  z-index: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border: 0;
  z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  &:before {
    display: block;
    content: '\f002';
    font-family: 'FontAwesome';
    font-size: 12px;
    color: #607D8B;
  }
}

.start-screen-scroll {
  max-height: 85vh;
  min-height: calc(128px * 3 - 8px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: -8px;
  padding: 4px;
  margin-left: 4px;
  transform: translate(-100%, 0);
  transition: transform 500ms,
              opacity 1000ms;
  opacity: 0;
  .start-menu--open & {
    transform: none;
    opacity: 1;
  }
}
.start-screen {
  position: relative;
  width: 128px * 2;
  word-spacing: -1em;
  //background-color: green;

  @media screen and ( min-width: 700px ) {
    min-width: 128px * 3;
  }
  @media screen and ( min-width: 800px ) {
    min-width: 128px * 4;
  }
  @media screen and ( min-width: 960px ) {
    min-width: 128px * 5;
  }
}
.start-screen__tile {
  position: relative;
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  word-spacing: normal;
  margin: 4px;
  color: white;
  background-color: #D81B60;
  border: 2px solid rgba(white,0.1);
  //box-shadow: inset 0 0 0 1px rgba(white, 0.1);
  transform: scale(0.5);
  transition: all 250ms, transform 0s;
  .start-menu--open & {
    transform: none;
  }
  &.ui-sortable-helper {
    transform: scale(1.1);
    transition: none;
  }
  &:hover {
    //box-shadow: 0 0 0 1px rgba(#455A64, 1)
    border-color: rgba(white, 0.5);
  }
  &:active {
    transform: scale(0.9);
  }
  > i {
    font-size: 48px;
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
  }
  > span {
    position: absolute;
    left: 12px;
    bottom: 4px;
    font-size: 12px;
  }
}
.start-screen__tile--wide,
.start-screen__tile--large{
  width: 248px;
}
.start-screen__tile--large {
  height: 248px;
}
.start-screen__tile--small {
  width: 56px;
  height: 56px;
}
.start-screen__smallgroup {
  width: 120px;
  height: 120px;
  //float: left;
  margin: 4px;
  //background: white;
  > .start-screen__tile {
     margin: 0;
    &:nth-child(odd) {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}
.start-screen__tile--explorer {
  background-color: $explorer-color;
}
.start-screen__tile--mail {
  background-color: $mail-color;
}
.start-screen__tile--notepad {
  background-color: $notepad-color;
}


.full-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  border: 0;
  width: 100%;
  height: 100%;
}

.ui-resizable-se {
  background-image: url("");
}


.menu-toggle {
  position: relative;
}
.menu-toggle--open {
  background-color: rgba(black, 0.1);
}
.menu {
  //display: none;
  position: absolute;
  z-index: 10000;
  background: white;
  box-shadow: 0 2px 4px rgba(black, 0.15);
  transition: all 250ms;
  > a {
    display: block;
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    color: #455A64;
    transition: all 100ms;
    &:hover {
      background-color: #ECEFF1;
    }
  }
}




// Folder list
.folders {
  > a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    width: 72px;
    height: 72px;
    text-align: center;
    border: 1px solid transparent;
    color: #607D8B;
    cursor: pointer;
    &:hover {
      color: $theme-color;
      border-color: rgba(black, 0.1);
      background-color: rgba(#ECEFF1, 0.5);
    }
    > i {
      display: block;
      font-size: 32px;
    }
    > span {
      display: block;
    }
  }
}
