<div class="col folders__body" #selectableContainer>

  <app-datastore-explorer-body-new-connection [application]="application" *ngIf="activeConnection === null || getActiveConnection().state === 'disconnected'"></app-datastore-explorer-body-new-connection>

  <ng-container *ngIf="activeConnection !== null && getActiveConnection().state !== 'disconnected'">

    <app-datastore-explorer-actions-server [application]="application"></app-datastore-explorer-actions-server>

    <div id="local_body" class="folders" cdkDropList (cdkDropListDropped)="UIonDropItem($event)" (click)="handleBodyClick($event)" tabindex="0" (keydown)="handleItemKeyPress($event)" (contextmenu)="onBodyContextMenu($event)">

      <ng-container *ngIf="viewAsList === false">
        <app-file *ngFor="let file of currentData | filterBy: search; index as $index" cdkDrag cdkDragBoundary=".desktop" [cdkDragData]="file" (cdkDragStarted)="onDragStart()" [application]="application" subApplication="server" [connection]="getActiveConnection()" [viewAsList]="viewAsList" [selectable]=selectable [file]=file [isCurrentActive]="$index === currentActive" [currentPath]="currentPath" [selector]="'.window--datastore-explorer .window__main'" (click)="setCurrentActive($index)"></app-file>
      </ng-container>

      <ng-container *ngIf="viewAsList === true">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>

          <app-file *ngFor="let file of currentData | filterBy: search; index as $index" cdkDrag cdkDragBoundary=".desktop" [cdkDragData]="file" (cdkDragStarted)="onDragStart()" [application]="application" subApplication="server" [connection]="getActiveConnection()" [viewAsList]="viewAsList" [selectable]=selectable [file]=file [isCurrentActive]="$index === currentActive" [currentPath]="currentPath" [selector]="'.window--datastore-explorer .window__main'" (click)="setCurrentActive($index)"></app-file>

          </tbody>
        </table>
      </ng-container>

      <div style="position: fixed"
           [style.left]="contextMenuPosition.x"
           [style.top]="contextMenuPosition.y"
           [matMenuTriggerFor]="contextMenuBody">
      </div>

      <mat-menu #contextMenuBody="matMenu">
        <ng-template matMenuContent>
          <ng-container *ngFor="let item of bodyContextMenuItems">
            <button mat-menu-item *ngIf="item.text !== 'divider'" (click)="item.action()" [disabled]="checkIfDisabled(item)" [innerHTML]="contextToText(item)"></button>
            <mat-divider *ngIf="item.text === 'divider'"></mat-divider>
          </ng-container>
        </ng-template>
      </mat-menu>

    </div>
  </ng-container>
</div>
