<div class="desktop" cdkDropListGroup>
  <div class="col-xl-12 desktop__body">

    <div id="desktop_body" (mouseover)="setCurrentHoverApplication();">
      <alfolder-anyopsos-lib-folder
        [application]="{uuid: null}"
        [currentPath]=currentPath
        [currentData]=currentData
        [currentActive]=currentActive></alfolder-anyopsos-lib-folder>
    </div>

    <app-task-bar></app-task-bar>

    <ng-container *ngFor="let application of openedApplications">
      <alapp-anyopsos-lib-application *ngIf="application.uuid !== 'start'" [application]="application"></alapp-anyopsos-lib-application>
    </ng-container>
  </div>
</div>
