<div class="modal-header">
  <div class="modal-title" id="modal-title">{{title}}</div>
  <div class="window__controls window__controls--right">
    <a class="window__close" (click)="activeModal.close('Close click'); $event.stopPropagation();">
      <i class="fa fa-close"></i>
    </a>
  </div>
</div>
<div class="modal-body" id="modal-body">
  {{text}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="activeModal.close('no')" autofocus>No</button>
  <button class="btn btn-default" type="button" (click)="activeModal.close(true)">Yes</button>
</div>
