.hostprofile-ui-icon-attach_detach {
  background-position: -96px -96px
}

.hostprofile-ui-icon-attach_detach,
.hostprofile-ui-icon-copy_host_profile_settings {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  width: 16px;
  height: 16px
}

.hostprofile-ui-icon-copy_host_profile_settings {
  background-position: -112px -80px
}

.hostprofile-ui-icon-copy_host_settings {
  background-position: -112px -96px
}

.hostprofile-ui-icon-copy_host_settings,
.hostprofile-ui-icon-duplicateProfile {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  width: 16px;
  height: 16px
}

.hostprofile-ui-icon-duplicateProfile {
  background-position: -128px 0
}

.hostprofile-ui-icon-edit_profile {
  background-position: -112px -64px
}

.hostprofile-ui-icon-edit_profile,
.hostprofile-ui-icon-export_host_customizations {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  width: 16px;
  height: 16px
}

.hostprofile-ui-icon-export_host_customizations {
  background-position: -96px -80px
}

.hostprofile-ui-icon-hostCompliance {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  background-position: -96px -64px;
  width: 16px;
  height: 16px
}

.hostprofile-ui-icon-hostProfile32x32 {
  background-position: -96px 0
}

.hostprofile-ui-icon-hostProfile32x32,
.hostprofile-ui-icon-info32x {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  width: 32px;
  height: 32px
}

.hostprofile-ui-icon-info32x {
  background-position: -93px -32px
}

.hostprofile-ui-icon-obj-host-profile {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  background-position: 0 0;
  width: 96px;
  height: 124px
}

.hostprofile-ui-icon-profile_export {
  background-position: -128px -16px
}

.hostprofile-ui-icon-profile_export,
.hostprofile-ui-icon-profile_import {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  width: 16px;
  height: 16px
}

.hostprofile-ui-icon-profile_import {
  background-position: -128px -32px
}

.hostprofile-ui-icon-remediate {
  background-image: url(/assets/img/vmware/hostprofile-ui-icons.png);
  background-position: -128px -48px;
  width: 16px;
  height: 16px
}
