
[class^=storage-ui-icon-] {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 4px 0
}

.storage-ui-icon-browse-file {
  background-position: -16px 0
}

.storage-ui-icon-browse-file,
.storage-ui-icon-create-datastore {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-create-datastore {
  background-position: 0 -48px
}

.storage-ui-icon-datastore-mount {
  background-position: 0 -16px
}

.storage-ui-icon-datastore-mount,
.storage-ui-icon-datastore-unmount {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-datastore-unmount {
  background-position: -16px -16px
}

.storage-ui-icon-datastore_delete {
  background-position: -32px 0
}

.storage-ui-icon-datastore_delete,
.storage-ui-icon-disk {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-disk {
  background-position: -32px -16px
}

.storage-ui-icon-increase_datastore {
  background-position: 0 -32px
}

.storage-ui-icon-increase_datastore,
.storage-ui-icon-led-off {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-led-off {
  background-position: -16px -32px
}

.storage-ui-icon-led-on {
  background-position: -32px -32px
}

.storage-ui-icon-led-on,
.storage-ui-icon-mark-not-ssd {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-mark-not-ssd {
  background-position: -48px 0
}

.storage-ui-icon-mark-ssd {
  background-position: -48px -16px
}

.storage-ui-icon-mark-ssd,
.storage-ui-icon-path-active {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-path-active {
  background-position: -48px -32px
}

.storage-ui-icon-path-dead {
  background-position: 0 0
}

.storage-ui-icon-path-dead,
.storage-ui-icon-path-disabled {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-path-disabled {
  background-position: -16px -48px
}

.storage-ui-icon-path-standby {
  background-position: -32px -48px
}

.storage-ui-icon-path-standby,
.storage-ui-icon-refresh-certificate {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-refresh-certificate {
  background-position: -48px -48px
}

.storage-ui-icon-refresh-storage-system {
  background-position: -64px 0
}

.storage-ui-icon-refresh-storage-system,
.storage-ui-icon-register_vm {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-register_vm {
  background-position: -64px -16px
}

.storage-ui-icon-rescan-storage-provider {
  background-position: -64px -32px
}

.storage-ui-icon-rescan-storage,
.storage-ui-icon-rescan-storage-provider {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-rescan-storage {
  background-position: -64px -48px
}

.storage-ui-icon-rescan_hba {
  background-position: 0 -64px
}

.storage-ui-icon-rescan_hba,
.storage-ui-icon-scsi-adapter {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-scsi-adapter {
  background-position: -16px -64px
}

.storage-ui-icon-storage-profile {
  background-position: -32px -64px
}

.storage-ui-icon-storage-profile,
.storage-ui-icon-sync-storage-provider {
  background-image: url(/assets/img/vmware/storage-ui-icons.png);
  width: 16px;
  height: 16px
}

.storage-ui-icon-sync-storage-provider {
  background-position: -48px -64px
}
