.vm-ui-icon-answerQuestion {
  background-position: -48px -48px
}

.vm-ui-icon-answerQuestion,
.vm-ui-icon-cloneTemplateToTemplate {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-cloneTemplateToTemplate {
  background-position: 0 -64px
}

.vm-ui-icon-convertTemplateToVm {
  background-position: -64px 0
}

.vm-ui-icon-convertTemplateToVm,
.vm-ui-icon-customizationManager {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-customizationManager {
  background-position: -80px -48px
}

.vm-ui-icon-customizationSpecAdd {
  background-position: -48px 0
}

.vm-ui-icon-customizationSpecAdd,
.vm-ui-icon-customizationSpecCopy {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-customizationSpecCopy {
  background-position: -48px -16px
}

.vm-ui-icon-customizationSpecDelete {
  background-position: -48px -32px
}

.vm-ui-icon-customizationSpecDelete,
.vm-ui-icon-customizationSpecEdit {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-customizationSpecEdit {
  background-position: 0 -48px
}

.vm-ui-icon-customizationSpecExport {
  background-position: -16px -48px
}

.vm-ui-icon-customizationSpecExport,
.vm-ui-icon-customizationSpecImport {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-customizationSpecImport {
  background-position: -32px -48px
}

.vm-ui-icon-guestOsLinux {
  background-position: 0 0
}

.vm-ui-icon-guestOsLinux,
.vm-ui-icon-guestOsWindows {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 24px;
  height: 24px
}

.vm-ui-icon-guestOsWindows {
  background-position: -24px 0
}

.vm-ui-icon-installVmwareTools {
  background-position: -64px -16px
}

.vm-ui-icon-installVmwareTools,
.vm-ui-icon-snapshot {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-snapshot {
  background-position: -64px -32px
}

.vm-ui-icon-snapshotManager {
  background-position: -64px -48px
}

.vm-ui-icon-snapshotManager,
.vm-ui-icon-snapshotPoweredOn {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-snapshotPoweredOn {
  background-position: -24px -24px
}

.vm-ui-icon-snapshotRevert {
  background-position: -16px -64px
}

.vm-ui-icon-snapshotRevert,
.vm-ui-icon-snapshotSuspended {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-snapshotSuspended {
  background-position: -32px -64px
}

.vm-ui-icon-snapshotTake {
  background-position: -48px -64px
}

.vm-ui-icon-snapshotTake,
.vm-ui-icon-snapshotYouAreHere {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-snapshotYouAreHere {
  background-position: -64px -64px
}

.vm-ui-icon-upgradeVirtualHardware {
  background-position: -80px 0
}

.vm-ui-icon-upgradeVirtualHardware,
.vm-ui-icon-upgradeVmwareTools {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-upgradeVmwareTools {
  background-position: -80px -16px
}

.vm-ui-icon-virtualMachine {
  background-position: -80px -32px;
  width: 16px;
  height: 16px
}

.vm-ui-icon-virtualMachine,
.vm-ui-icon-vmEncrypted {
  background-image: url(/assets/img/vmware/vm-ui-icons.png)
}

.vm-ui-icon-vmEncrypted {
  background-position: 0 -24px;
  width: 24px;
  height: 24px
}

.vm-ui-icon-vmPowerOff {
  background-position: -80px -64px
}

.vm-ui-icon-vmPowerOff,
.vm-ui-icon-vmPowerOn {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-vmPowerOn {
  background-position: 0 -80px
}

.vm-ui-icon-vmReset {
  background-position: -16px -80px
}

.vm-ui-icon-vmReset,
.vm-ui-icon-vmRestart {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-vmRestart {
  background-position: -32px -80px
}

.vm-ui-icon-vmShutdown {
  background-position: -48px -80px
}

.vm-ui-icon-vmShutdown,
.vm-ui-icon-vmSuspend {
  background-image: url(/assets/img/vmware/vm-ui-icons.png);
  width: 16px;
  height: 16px
}

.vm-ui-icon-vmSuspend {
  background-position: -64px -80px
}
