.vsphere-icon-Add_Host {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 19.081272084805654% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Connect {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 6.360424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Disconnect {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Maintenance_Mode_Enter {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 12.720848056537102% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Maintenance_Mode_Exit {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 63.60424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Policy {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 69.96466431095406% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Host_Reboot {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.241379310344826% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-LAG {
  background: url(/assets/img/vmware/svg-sprite.svg) 62.06896551724138% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-Lic_key_add {
  background: url(/assets/img/vmware/svg-sprite.svg) 66.55555555555556% 28.897338403041825% no-repeat;
  width: 38px;
  height: 38px;
}

.vsphere-icon-Lic_key_existing {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.28148148148148% 46.00760456273764% no-repeat;
  width: 38px;
  height: 38px;
}

.vsphere-icon-Lic_key_inactive {
  background: url(/assets/img/vmware/svg-sprite.svg) 51.355555555555554% 46.00760456273764% no-repeat;
  width: 38px;
  height: 38px;
}

.vsphere-icon-Lic_key_remove {
  background: url(/assets/img/vmware/svg-sprite.svg) 66.55555555555556% 0 no-repeat;
  width: 38px;
  height: 38px;
}

.vsphere-icon-Lic_key_upgraded {
  background: url(/assets/img/vmware/svg-sprite.svg) 66.55555555555556% 14.448669201520913% no-repeat;
  width: 38px;
  height: 38px;
}

.vsphere-icon-NIC_blue {
  background: url(/assets/img/vmware/svg-sprite.svg) 6.206896551724138% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-NIC_single {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.620689655172413% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-NICs {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 25.441696113074205% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-NiC_green {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 38.16254416961131% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-action-remove {
  background: url(/assets/img/vmware/svg-sprite.svg) 51.03448275862069% 60.42402826855124% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-add {
  background: url(/assets/img/vmware/svg-sprite.svg) 57.241379310344826% 60.42402826855124% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-assign_license {
  background: url(/assets/img/vmware/svg-sprite.svg) 63.44827586206897% 60.42402826855124% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-caret_collapsed {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-caret_expanded {
  background: url(/assets/img/vmware/svg-sprite.svg) 6.206896551724138% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cloud-network {
  background: url(/assets/img/vmware/svg-sprite.svg) 12.413793103448276% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cloud-network-alert {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.620689655172413% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cloud-network-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 24.82758620689655% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cluster {
  background: url(/assets/img/vmware/svg-sprite.svg) 31.03448275862069% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cluster-24x {
  background: url(/assets/img/vmware/svg-sprite.svg) 9.21985815602837% 62.18181818181818% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-cluster-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 43.44827586206897% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-cluster-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 49.6551724137931% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-collapse {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.79598662207358% 39.04109589041096% no-repeat;
  width: 9px;
  height: 9px;
}

.vsphere-icon-cpu-summary {
  background: url(/assets/img/vmware/svg-sprite.svg) 63.723404255319146% 50.90909090909091% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-datacenter {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.27586206896552% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datacenter-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 0 no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datacenter-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 6.360424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 12.720848056537102% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-24x {
  background: url(/assets/img/vmware/svg-sprite.svg) 63.723404255319146% 41.45454545454545% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-datastore-cluster {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 25.441696113074205% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-cluster-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 31.802120141342755% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-cluster-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 38.16254416961131% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 44.522968197879855% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-inaccessible {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 50.88339222614841% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-maintenance {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 57.24381625441696% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-datastore-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 75.06896551724138% 63.60424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-dell {
  background: url(/assets/img/vmware/svg-sprite.svg) 46.85658914728682% 28.286852589641434% no-repeat;
  width: 50px;
  height: 50px;
}

.vsphere-icon-drag-and-drop-accept {
  background: url(/assets/img/vmware/svg-sprite.svg) 6.206896551724138% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-drag-and-drop-reject {
  background: url(/assets/img/vmware/svg-sprite.svg) 12.413793103448276% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-dv-switch {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.620689655172413% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-dv-switch-alert {
  background: url(/assets/img/vmware/svg-sprite.svg) 24.82758620689655% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-dv-switch-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 31.03448275862069% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-dvsPnicError {
  background: url(/assets/img/vmware/svg-sprite.svg) 4.761904761904762% 100% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-event-console {
  background: url(/assets/img/vmware/svg-sprite.svg) 43.44827586206897% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-export-line_16x16 {
  background: url(/assets/img/vmware/svg-sprite.svg) 49.6551724137931% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-filebrowser-copy {
  background: url(/assets/img/vmware/svg-sprite.svg) 55.86206896551724% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-filebrowser-download {
  background: url(/assets/img/vmware/svg-sprite.svg) 62.06896551724138% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-filebrowser-move {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.27586206896552% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-filebrowser-upload {
  background: url(/assets/img/vmware/svg-sprite.svg) 74.48275862068965% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-folder {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 0 no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-folder-add {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 6.360424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-fujitsu {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 48.20717131474104% no-repeat;
  width: 100.66px;
  height: 50px;
}

.vsphere-icon-help-info {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 19.081272084805654% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-help-info-hover {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 25.441696113074205% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-host {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 31.802120141342755% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-host-disconnected {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 38.16254416961131% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-host-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 44.522968197879855% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-host-maintenance {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 50.88339222614841% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-host-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 81.27586206896552% 57.24381625441696% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-hp {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 0 no-repeat;
  width: 179.7px;
  height: 71px;
}

.vsphere-icon-ibm {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 28.286852589641434% no-repeat;
  width: 120.89px;
  height: 50px;
}

.vsphere-icon-info {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-memory-summary {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.43971631205674% 62.18181818181818% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-network {
  background: url(/assets/img/vmware/svg-sprite.svg) 12.413793103448276% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-network-24x {
  background: url(/assets/img/vmware/svg-sprite.svg) 27.659574468085108% 62.18181818181818% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-network-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 24.82758620689655% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-network-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 31.03448275862069% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-ovf-deploy {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.241379310344826% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-plugin {
  background: url(/assets/img/vmware/svg-sprite.svg) 43.44827586206897% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-portChannel {
  background: url(/assets/img/vmware/svg-sprite.svg) 49.6551724137931% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-port_blocked {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 100% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_blocked_SRIOV {
  background: url(/assets/img/vmware/svg-sprite.svg) 62.06896551724138% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-port_blocked_SRIOV12x {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.70748299319727% 59.58188153310105% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_blocked_left {
  background: url(/assets/img/vmware/svg-sprite.svg) 74.04761904761905% 68.98954703832753% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_blue-grey {
  background: url(/assets/img/vmware/svg-sprite.svg) 80.17006802721089% 75.26132404181185% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_blue-grey_left {
  background: url(/assets/img/vmware/svg-sprite.svg) 9.523809523809524% 100% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_count {
  background: url(/assets/img/vmware/svg-sprite.svg) 44.827586206896555% 60.42402826855124% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-port_green {
  background: url(/assets/img/vmware/svg-sprite.svg) 92.41496598639456% 87.8048780487805% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_green_SRIOV {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 19.081272084805654% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-port_green_SRIOV12x {
  background: url(/assets/img/vmware/svg-sprite.svg) 98.5374149659864% 94.77351916376307% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_green_left {
  background: url(/assets/img/vmware/svg-sprite.svg) 98.5374149659864% 89.89547038327527% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_red_X {
  background: url(/assets/img/vmware/svg-sprite.svg) 98.5374149659864% 85.01742160278745% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_red_X_left {
  background: url(/assets/img/vmware/svg-sprite.svg) 98.5374149659864% 80.13937282229965% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_white {
  background: url(/assets/img/vmware/svg-sprite.svg) 86.29251700680273% 81.53310104529616% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-port_white_left {
  background: url(/assets/img/vmware/svg-sprite.svg) 98.5374149659864% 75.26132404181185% no-repeat;
  width: 14px;
  height: 14px;
}

.vsphere-icon-portgroup {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 63.60424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-powered-on {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 69.96466431095406% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-precheck-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 76.32508833922262% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-precheck-ok {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-precheck-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 6.206896551724138% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-remove {
  background: url(/assets/img/vmware/svg-sprite.svg) 12.413793103448276% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-rescan-hba {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.620689655172413% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-rescan-storage {
  background: url(/assets/img/vmware/svg-sprite.svg) 24.82758620689655% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-resource-pool {
  background: url(/assets/img/vmware/svg-sprite.svg) 31.03448275862069% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-roles-clone,
.vsphere-icon-roles-clone\:regular {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.241379310344826% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-roles-clone:hover,
.vsphere-icon-roles-clone\:hover {
  background: url(/assets/img/vmware/svg-sprite.svg) 43.44827586206897% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-rules-profile {
  background: url(/assets/img/vmware/svg-sprite.svg) 49.6551724137931% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-scsi-adapter {
  background: url(/assets/img/vmware/svg-sprite.svg) 55.86206896551724% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-scsi-adapter-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 62.06896551724138% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-snapshot {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.27586206896552% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-snapshot_here {
  background: url(/assets/img/vmware/svg-sprite.svg) 74.48275862068965% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-snapshot_run {
  background: url(/assets/img/vmware/svg-sprite.svg) 80.6896551724138% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-snapshot_suspend {
  background: url(/assets/img/vmware/svg-sprite.svg) 86.89655172413794% 88.69257950530036% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-status-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 0 no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-status-ok {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 6.360424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-status-unknown {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 12.720848056537102% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-status-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 19.081272084805654% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-storage-device-mount {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 25.441696113074205% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-storage-device-unmount {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 31.802120141342755% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-storage-summary {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 62.18181818181818% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-storage-system-refresh {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 44.522968197879855% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-suspended {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 50.88339222614841% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-synchronize {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 57.24381625441696% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-task-console {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 63.60424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-add,
.vsphere-icon-toolbar-add\:regular {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 69.96466431095406% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-add-folder {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 76.32508833922262% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-add-vm {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.6896551724138% 82.68551236749117% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-add:hover,
.vsphere-icon-toolbar-add\:hover {
  background: url(/assets/img/vmware/svg-sprite.svg) 0 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-edit {
  background: url(/assets/img/vmware/svg-sprite.svg) 6.206896551724138% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-host-question {
  background: url(/assets/img/vmware/svg-sprite.svg) 12.413793103448276% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-more {
  background: url(/assets/img/vmware/svg-sprite.svg) 18.620689655172413% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-network-add {
  background: url(/assets/img/vmware/svg-sprite.svg) 24.82758620689655% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-remove {
  background: url(/assets/img/vmware/svg-sprite.svg) 31.03448275862069% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-toolbar-roles {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.241379310344826% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-uplink-port-group {
  background: url(/assets/img/vmware/svg-sprite.svg) 43.44827586206897% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-uplink-port-group-alert {
  background: url(/assets/img/vmware/svg-sprite.svg) 49.6551724137931% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-uplink-port-group-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 55.86206896551724% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp {
  background: url(/assets/img/vmware/svg-sprite.svg) 62.06896551724138% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-add {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.27586206896552% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-edit {
  background: url(/assets/img/vmware/svg-sprite.svg) 74.48275862068965% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-managed {
  background: url(/assets/img/vmware/svg-sprite.svg) 80.6896551724138% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-running {
  background: url(/assets/img/vmware/svg-sprite.svg) 86.89655172413794% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-running-managed {
  background: url(/assets/img/vmware/svg-sprite.svg) 93.10344827586206% 95.0530035335689% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-suspended {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 0 no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vapp-suspended-managed {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 6.360424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vc-extension {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 12.720848056537102% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vcenter {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 19.081272084805654% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-view_properties {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 25.441696113074205% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-virtual-port-group {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 31.802120141342755% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-virtual-port-group-alert {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 38.16254416961131% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-virtual-port-group-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 44.522968197879855% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 50.88339222614841% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-add {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 57.24381625441696% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-add-from-template {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 63.60424028268551% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-error {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 57.24381625441696% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-information {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 50.88339222614841% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-on {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 44.522968197879855% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-suspended {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 38.16254416961131% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-template {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 31.802120141342755% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vm-templates-24x {
  background: url(/assets/img/vmware/svg-sprite.svg) 36.87943262411348% 62.18181818181818% no-repeat;
  width: 26px;
  height: 26px;
}

.vsphere-icon-vm-warning {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 12.720848056537102% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 87.48275862068965% 0 no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmOnManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 80.6896551724138% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmRedManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 74.48275862068965% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmStuckManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 68.27586206896552% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmSuspendedManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 55.86206896551724% 82.3321554770318% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vmYellowManaged {
  background: url(/assets/img/vmware/svg-sprite.svg) 37.241379310344826% 75.97173144876325% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vsphere-admin {
  background: url(/assets/img/vmware/svg-sprite.svg) 55.86206896551724% 69.6113074204947% no-repeat;
  width: 18px;
  height: 18px;
}

.vsphere-icon-vsphere-inventory-lists {
  background: url(/assets/img/vmware/svg-sprite.svg) 99.89655172413794% 69.96466431095406% no-repeat;
  width: 18px;
  height: 18px;
}

