<!doctype html>
<html lang="en" ng-app="SysOS">
<head>
  <meta charset="utf-8">
  <title>SysOS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="mainController as main">

  <div id="login" ng-if="$root.showLogin">
    <div class="container">
      <div class="profile" ng-class="{'profile--open': main.showUser}">
        <button class="profile__avatar" id="toggleProfile" ng-click="main.showUser = !main.showUser">
          <i class="fa fa-user fa-5x fa-user-login"></i>
        </button>
        <div class="profile__form">
          <div class="profile__fields">
            <form autocomplete="off">
              <div class="field">
                <input type="text" id="fieldUser" class="input" autocomplete="off" ng-model="main.user" required pattern=.*\S.* />
                <label for="fieldUser" class="label">Username</label>
              </div>
              <div class="field">
                <input type="password" id="fieldPassword" class="input" autocomplete="off" ng-model="main.password" readonly onfocus="this.removeAttribute('readonly');" required pattern=.*\S.* />
                <label for="fieldPassword" class="label">Password</label>
              </div>
              <div class="profile__footer">
                <button class="btn btn-primary" ng-click="main.login()">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desktop" ng-if="$root.showApp">

    <div class="col-xs-12 desktop__body">
      <div id="desktop_body" ng-mouseover="$root.setCurrentFileDrop('desktop'); $event.stopPropagation()" data-drop="true" jqyoui-droppable="{onDrop: 'main.onDropItem'}" data-jqyoui-options="{greedy: true, accept:'a', tolerance: 'pointer'}" selectable="main.selection" selectable-list="main.desktopFiles.currentData | filter:main.search" selectable-out="selected" selectable-options="{delay:150, filter: 'a'}" minus-index="2" class="folders" tabindex="0" ng-click="main.handleDesktopClick($event)" ng-keydown="main.handleItemKeyPress($event)" context-menu="main.desktopContextMenu">
        <a data-drag="true" jqyoui-draggable="{onStart: 'main.onStartItem'}" data-jqyoui-options="{appendTo: '.desktop', helper: 'clone'}" ng-repeat="file in main.desktopFiles.currentData | filter:main.search" ng-class="{'active': main.currentActive == $index}" ng-click="main.setCurrentActive($index)" ng-dblclick="main.doWithFile(file)" title="{{::file.filename}}" context-menu="main.fileContextMenu">
          <i class="fa fa-{{::main.getFileType(file.longname)}}"></i>
          <span>{{::file.filename}}</span>
        </a>
      </div>
    </div>

    <task-bar></task-bar>

    <application ng-repeat="application in main.opened_applications" ng-if="application.id != 'start'" app-id="application.id"></application>

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
