@import '~bootstrap/dist/css/bootstrap.min.css';
$fa-font-path : '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr.css';


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
  cursor: default;
}
a:focus, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000099;
}

.no_padding {
  padding: 0 !important;
}

//////////
// DRAG/DROP
//////////

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//////////
// SEARCH
//////////
.search {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: white;

  .search__input {
    display: block;
    width: 100%;
    padding: 10px;
    height: 32px;
    border: 0;
    font-size: 12px;
    color: #607D8B;
    background-color: transparent;
    z-index: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .search__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 0;
    z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:before {
      display: block;
      content: '\f002';
      font-family: 'FontAwesome';
      font-size: 12px;
      color: #607D8B;
    }
  }
}

//////////
// FOLDERS
//////////
.folders:focus {
  outline: none;
}

.folders > app-file > a, .folders > app-file > div > a {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  width: 90px;
  height: 72px;
  text-align: center;
  border: 1px solid transparent;
  color: #607D8B;
  cursor: pointer;
}
.folders > app-file > a:hover,.folders > app-file > a.active,.folders > app-file > a.ui-selected,.folders > app-file > a.ui-selecting,
.folders > app-file > div > a:hover,.folders > app-file > div > a.active,.folders > app-file > div > a.ui-selected,.folders > app-file > div > a.ui-selecting{
  color: #1976D2;
  border: 1px solid rgba(124, 162, 239, 0.67);
  background-color: rgba(10, 28, 247, 0.17);
}
.folders > app-file > a > i, .folders > app-file > div > a > i {
  display: block;
  font-size: 32px;
}
.folders > app-file > a > span, .folders > app-file > div > a > span  {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selecting {
  background-color: #4CAF50;

  svg {
    background-color: darken(#4CAF50, 10);
  }
}

.ui-selected {
  background-color: #2196F3;

  svg {
    background-color: darken(#2196F3, 10);
  }
}

//////////
// MODALS
//////////
.modal-content {
  border-radius: 0;
  box-shadow: 0 3px 3px rgba(0,0,0,.5);
  margin: 100px auto;
}

.modal-header {
  background-color: #7bb6ef;
  text-align: center;
  padding: 6px;
  height: 33px;
  border-radius: 0;
}

.modal-title {
  width: 100%;
}

.modal-body {
  max-height: calc(100vh - 300px);
  overflow: auto;
}
.window__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.window__controls > a {
  display: block;
  float: left;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 12px;
  transition: all 100ms;
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
}
.window__controls > a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.window__controls > .window__close {
  color: white;
  background-color: #398ada;
}
.window__controls > .window__close:hover {
  background-color: #e53935;
}

.window__controls--left {
  left: 0;
}

.window__controls--right {
  right: 0;
}
