<div class="window__body" [ngClass]="{'with_status': application.status, 'with_actions': application.actions}">

  <div class="window__side" *ngIf="viewSide">
    <ng-container *ngFor="let connection of connections; index as $index">
      <div class="menu__item" *ngIf="connection != undefined" [ngClass]="{'active': connection.uuid === activeConnection}" (click)="setActiveConnection(connection)">
        <h5>
          {{connection.description}} <small>({{connection.host}})</small>
          <i class="fa fa-circle pull-right m-t-f" [ngClass]="{'text-danger': connection.state == 'disconnected', 'text-success': connection.state == 'connected'}"></i>
        </h5>
      </div>
    </ng-container>
    <div class="secondary-content__new__box__toggle pointer visible-lg">
      <div class="secondary-content__new__box__toggle__slide" (click)="toggleSide()">
        <i class="fa fa-arrow-left sidebar-open-font open-sidebar"></i>
      </div>
    </div>
  </div>
  <div class="secondary-content__new__box__toggle toggle_left pointer visible-lg" *ngIf="!viewSide" (click)="toggleSide()">
    <i class="fa fa-arrow-right sidebar-open-font open-sidebar"></i>
  </div>
  <div class="window__main row no_padding">
    <div class="col">

      <app-ssh-body-new-connection [application]="application" *ngIf="activeConnection === null || getActiveConnection().state === 'disconnected'"></app-ssh-body-new-connection>

      <ng-container *ngIf="activeConnection !== null && getActiveConnection().state !== 'disconnected'">
        <div #terminalContainer id="terminal-container-{{getActiveConnection().uuid}}" class="terminal-container terminal"></div>
      </ng-container>

    </div>
  </div>
</div>
