<div id="login">
  <div class="container w-50">
    <div class="profile" [ngClass]="{'profile--open': loginExpanded}">
      <h1 style="
          font-family: monospace;
          font-weight: 700;
          letter-spacing: 3px;
          position: absolute;
          margin-top: -100px;
      ">anyOpsOS</h1>
      <h1>{{getDate()}}</h1>
      <h2 class="mb-5">{{getTime()}}</h2>
      <button class="profile__avatar" id="toggleProfile" (click)="loginExpanded = !loginExpanded">
        <i class="fas fa-user fa-5x fa-user-login"></i>
      </button>
      <div class="profile__form">
        <div class="profile__fields" (appCapsLock)="capsOn=$event">
          <form autocomplete="off" ngNativeValidate>
            <div class="field">
              <input type="text" id="fieldUser" class="input" autocomplete="off" name="username" [(ngModel)]="username" required pattern=.*\S.* />
              <label for="fieldUser" class="label">Username</label>
            </div>
            <div class="field mt-2">
              <input type="password" id="fieldPassword" class="input" autocomplete="off" name="password" [(ngModel)]="password" readonly onfocus="this.removeAttribute('readonly');" required pattern=.*\S.* />
              <label for="fieldPassword" class="label">Password</label>
              <small class="text-primary text-center d-block" *ngIf="capsOn">Caps Locked</small>
              <small class="text-danger text-center d-block" *ngIf="invalidLogin">{{invalidLogin}}</small>
            </div>
            <div class="profile__footer">
              <button class="btn" type="submit" (click)="login(username, password)" mat-flat-button color="primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
