<div class="start-menu" [ngClass]="{'start-menu--open' : taskbarItemOpen == 'start'}">
  <div class="start-menu__list">
    <div class="media">
      <span class="user-info menu-toggle" (click)="openMenu('user')">
        <img class="user-info__img media__img" src="/assets/img/KkCqvK9.png" alt="User image">
        <div class="user-info__name media__body">
          User Name
        </div>
      </span>
      <div class="menu" style="top: 60.5px; left: 0;" [hidden]="openedMenu != 'user'">
        <span>Change account picture</span>
        <span>Lock</span>
        <span>Sign out</span>
      </div>
      <span class="user-info__power menu-toggle" (click)="openMenu('power')">
        <i class="fas fa-power-off"></i>
      </span>
    </div>
    <div class="menu" style="top: 60.5px; left: 188px;" [hidden]="openedMenu != 'power'">
      <span>Sleep</span>
      <span>Power off</span>
      <span>Restart</span>
    </div>
    <ul class="start-menu__recent">

      <ng-container *ngFor="let application of applications | orderBy:'name'">
        <app-start-menu-items [application]="application"></app-start-menu-items>
      </ng-container>

    </ul>
    <form class="search">
      <input type="text" class="search__input" placeholder="Search">
      <button class="search__btn"></button>
    </form>
  </div>
  <div class="start-screen-scroll">
    <div class="start-screen">
      <span class="start-screen__tile start-screen__tile--explorer masonry-item" >
        <i class="fas fa-folder"></i>
        <span>File Explorer</span>
      </span>
      <span class="start-screen__tile masonry-item" >
      </span>
      <span class="start-screen__tile start-screen__tile--wide masonry-item" data-ss-colspan="2">
      </span>
      <div class="start-screen__smallgroup masonry-item">
        <span class="start-screen__tile start-screen__tile--small" ></span>
        <span class="start-screen__tile start-screen__tile--small" ></span>
        <span class="start-screen__tile start-screen__tile--small" ></span>
      </div>
      <span class="start-screen__tile masonry-item" >
      </span>
      <span class="start-screen__tile masonry-item" >
      </span>
      <span class="start-screen__tile start-screen__tile--notepad masonry-item" >
      </span>
      <span class="start-screen__tile start-screen__tile--large start-screen__tile--mail masonry-item" data-ss-colspan="2">
        <i class="fas fa-envelope"></i>
        <span>Mail</span>
      </span>
      <span class="start-screen__tile masonry-item" >
      </span>
      <span class="start-screen__tile masonry-item" >
      </span>
      <span class="start-screen__tile masonry-item" >
      </span>
    </div>
  </div>
</div>
