<form class="main_form form-horizontal" [formGroup]="connectionForm" (ngSubmit)="sendConnect()">
  <div class="form-group">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
    </div>
    <div class="col-12" *ngIf="submitted && f.description.errors">
      <small class="text-danger pull-left" *ngIf="f.description.errors.required">Please insert a description</small>
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Host" formControlName="host" [ngClass]="{ 'is-invalid': submitted && f.host.errors }">
    </div>
    <div class="col-12" *ngIf="submitted && f.host.errors">
      <small class="text-danger pull-left" *ngIf="f.host.errors.required">Please insert a host</small>
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Port" formControlName="port" [ngClass]="{ 'is-invalid': submitted && f.port.errors }">
    </div>
    <div class="col-12" *ngIf="submitted && f.port.errors">
      <small class="text-danger pull-left" *ngIf="f.port.errors.required">Please insert a port</small>
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <select class="form-control" formControlName="credential" [ngClass]="{ 'is-invalid': submitted && f.credential.errors }">
        <option value="">-- Select Credential --</option>
        <option *ngFor="let credential of credentials" [value]="credential.uuid">
          {{credential.description}} - {{credential.username}}
        </option>
      </select>
    </div>
    <div class="col-12" *ngIf="submitted && f.credential.errors">
      <small class="text-danger pull-left" *ngIf="f.credential.errors.required">Please insert a credential</small>
    </div>
    <div class="col-12">
      <small class="pull-left text-primary cursor-pointer" (click)="manageCredentials()">Manage Credentials</small>
    </div>
  </div>
  <div class="form-group pt-3">
    <div class="col-12">
      Save Connection in config file
      <mat-slide-toggle class="pull-right" formControlName="save"></mat-slide-toggle>
    </div>
  </div>
  <div class="form-group" *ngIf="f.save">
    <div class="col-12">
      Auto Login
      <mat-slide-toggle class="pull-right" formControlName="autologin"></mat-slide-toggle>
    </div>
  </div>
  <div>
    <button class="btn mr-3" type="button" mat-flat-button color="accent" *ngIf="f.save">Save</button>
    <button class="btn" type="submit" mat-flat-button color="primary">Connect</button>
  </div>
</form>
